/* Space out content a bit */
body {
  background-color: white;
  color: black;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: background-color 200ms linear;
  -webkit-transition: color 200ms linear;
}

body.winner {
  background-color: #80DEEA;
  /*color: black;*/
}

h1 {
  color: #01579B;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
}

h4.jumbo {
  font-size: 42px;
  color: #01579B;
}

button {
  border-radius: 4px;
  padding: 8px;
  text-align: center;
  font-size: 16px;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

button:hover {
   box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.26);
}
button:disabled {
  background-color: gray;
  opacity: .5;
}

.footer {
  text-align: center;
  color: #01579B;
}


.container {
  max-width: 768px;
  margin: auto;
}

.text-center {
  text-align: center;
}

/*Slot Machine Styles*/
.thmb-slot-container {
  position: relative;
  display: inline-block;
  width: 31%;
  height: 0;
  padding-bottom: 31%;
  margin: 1%;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.thmb-slot-row {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  height: 100%;
  background-size: cover;
  background-repeat: none;
}

.thmb-slot-row.slide-by {
  top: 100%;
  transition: .3s ease-in-out;
}

.thmb-slot-row.slide-in {
  top: 0%;
  transition: 1s ease-in-out;
}


.thmb-slot-row > .slot-row-label {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  position: absolute;
  text-align: center;
  color: white;
}

.thmb-slot-row:nth-child(1) > .slot-row-label {
  background-color: #6D4C41;
}

.thmb-slot-row:nth-child(2) > .slot-row-label {
  background-color: #9E9E9E;
}

.thmb-slot-row:nth-child(3) > .slot-row-label {
  background-color: #006064;
}

.slot-machine-button {
  width: 80%;
  margin: 20px 10%;
  background-color: #009688;
  color: white;
}

.clear-prizes-button {
  margin: 20px;
  background-color: white;
}


.prize-stash {
  text-align: center;
}